html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 1.5rem;
  display: grid;
  grid-template-areas:
    "banner banner banner"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

img {
  width: 100%;
}

header {
  align-items: center;

  grid-area: banner;
  display: inline-grid;
}

header [lang="ja"] {
  font-size: 2rem;
}

h1 {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 1.125rem;
}

header span {
  color: hotpink;

  display: flex;
}

nav {
  display: flex;
  grid-column: 3;
}

ul {
  list-style-type: none;
  word-spacing: 1rem;
  font-size: 1.125rem;
}

li {
  color: #3783a3;
}

main {
  display: contents;
  display: inline-grid;
  grid-area: main;
}

.intro {
  border-color: #e2e2e2;
  border-style: solid;
  border-left: none;
  border-right: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: center;
}

.intro [lang="ja"] {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

article {
  padding-bottom: 1rem;
}

article img {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section a {
  display: flex;

  color: #3783a3;
  border-color: #3783a3;
  border-style: solid;
  padding: .5em 1em .6em;
  border-radius: .3rem;
  border-width: .2rem;
}

footer {
  display:inline-block;
  text-align: center;
  grid-area: footer;

  border-color: #e2e2e2;
  border-top-style: solid;
  border-width: .2rem;
}
