html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 1.5rem;
  display: grid;
  grid-template-areas:
    "banner banner banner"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

img {
  width: 100%;
}

header {
  grid-area: banner;
  display: inline-grid;
}

header [lang="ja"] {
  font-size: 2rem;
}

h1 {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 1.125rem;
}

header span {
  color: hotpink;

  display: flex;
}

nav {
  display: flex;
  grid-column: 3;

}

ul {
  list-style-type: none;
  word-spacing: 1rem;
  font-size: 1.125rem;
  list-style-type: none;
}

li {
  color: #3783a3;
}

main {
  display: contents;
  display: inline-grid;
  grid-area: main;
}
